#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/openstack/designate.git
include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=python_distutils --with python2,sphinxdoc,systemd

override_dh_auto_install:
	dh_auto_install -O--buildsystem=python_distutils
	install -D -m 0664 $(CURDIR)/etc/designate/rootwrap.conf.sample $(CURDIR)/debian/designate-common/etc/designate/rootwrap.conf

override_dh_auto_clean:
	dh_auto_clean -O--buildsystem=python_distutils
	rm -rf doc/build build
	rm -f debian/*.init debian/*.upstart debian/*.service
	rm -rf .eggs
	rm -f etc/designate/policy.json.sample etc/designate/designate.conf

override_dh_install:
	dh_install -O--buildsystem=python_distutils --fail-missing -Xusr/etc

override_dh_auto_build:
	PYTHONPATH=$(CURDIR) oslopolicy-sample-generator \
		--config-file=$(CURDIR)/etc/designate/designate-policy-generator.conf \
		--output-file=$(CURDIR)/etc/designate/policy.json.sample
	PYTHONPATH=$(CURDIR) oslo-config-generator \
		--config-file=$(CURDIR)/etc/designate/designate-config-generator.conf \
		--output-file=$(CURDIR)/etc/designate/designate.conf
	dh_auto_build -O--buildsystem=python_distutils

override_dh_auto_test:
#ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
#	ostestr
#endif

override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	PYTHONPATH=. sphinx-build -b html doc/source $(CURDIR)/debian/designate-doc/usr/share/doc/designate-doc/html
	# NOTE(jamespage): Disable until search index fixed.
	# dh_sphinxdoc -O--buildsystem=python_distutils
endif
